<!--
<div class="container-fluid">
  <div class="row d-block d-sm-none">
    <div class="col bg-primary text-white text-center">Extra Small</div>
  </div>
  <div class="row d-none d-sm-block d-md-none">
    <div class="col bg-secondary text-white text-center">Small</div>
  </div>
  <div class="row d-none d-md-block d-lg-none">
    <div class="col bg-success text-white text-center">Medium</div>
  </div>
  <div class="row d-none d-lg-block d-xl-none">
    <div class="col bg-info text-white text-center">Large</div>
  </div>
  <div class="row d-none d-xl-block">
    <div class="col bg-warning text-dark text-center">Extra Large</div>
  </div>
</div>
-->

<br/>

<router-outlet></router-outlet>
