<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Number Guesser</h2>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div class="alert alert-success" role="alert">
        <i class="fas fa-trophy text-winner"></i>
        <hr/>
        <h3>You Won!</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a routerLink="/start"><button type="button" class="btn btn-secondary btn-block">Restart</button></a>
    </div>
  </div>
</div>
